
.feed-enter:nth-child(even) {
    transform: translateX(200px);
}

.feed-enter-active:nth-child(even) {
    transform: translateX(0);
    transition: transform .4s ease-out;
}

.feed-enter:nth-child(odd) {
    transform: translateX(-200px);
}

.feed-enter-active:nth-child(odd) {
    transform: translateX(0);
    transition: transform .4s ease-out;
}

.feed-leave {}

.feed-leave-active {}

.feed-appear {}

.feed-appear-active {}

.view-enter {
    transform: translateX(-150%);
}

.view-enter-active {
    transform: translateX(0);
    transition: transform .3s linear;
}

.view-leave {
}

.view-leave-active {
    transform: translateX(150%);
    transition: transform .3s linear;
}