
.feed-enter {
    /*opacity: 0;*/
}

.feed-enter-active {
    /*opacity: 1;*/
}

.feed-enter:nth-child(even) {
    transform: translateX(200px);
}

.feed-enter-active:nth-child(even) {
    /*opacity: 1;*/
    transform: translateX(0);
    transition: transform .4s ease-out; ,/* opacity .5s; */
}

.feed-enter:nth-child(odd) {
    transform: translateX(-200px);
}

.feed-enter-active:nth-child(odd) {
    /*opacity: 1;*/
    transform: translateX(0);
    transition: transform .4s ease-out; /* opacity .5s; */
}

.feed-leave {}

.feed-leave-active {}

.feed-appear {}

.feed-appear-active {}