#app {
    height: 100%;
}

#wrapping-div {
    height: 100%;
}

#contact-name {
    color: white;
}

#chat-feed {
    overflow-y: auto;
    overflow-x: hidden;
}

#chat-box {
    border: 0;
    outline-width: 0;
    font-size: 14px;
    width: 90%;
}