
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

.main-color {
    /* Lilac: background-color: #383353;*/
    background-color: #272C30;
}

.secondary-color1 {
    /* Lilac: background-color: #706198;*/
    background-color: #586166;
}

.c-s1-text {
    color: #586166;
}

.secondary-color2 {
    /* Lilac: background-color: #474067;*/
    background-color: #00AEDB;
}

.c-s2-text {
    color: #00AEDB;
}

.main-text {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.secondary-text {
    color: grey;
    font-family: 'Raleway', sans-serif;
}

.message1 {
    opacity: 1;
    font-size: 0.75em;
    max-width: 10em;
}

.message2 {
    opacity: 1;
    font-size: 0.75em;
    max-width: 10em;
}

.profile-picture {
    border: 2px grey solid;
}

#app {
    height: 100%;
}

#wrapping-div {
    height: 100%;
}

#top-bar {
    border-color: grey;
}

#bottom-bar {
    border-color: grey;
    color: white;
}

#contact-name {
    color: white;
}

#status {
    color: grey;
}

#chat-feed {
    overflow-y: auto;
    overflow-x: hidden;
}

#chat-box {
    border: 0;
    outline-width: 0;
    font-size: 14px;
    width: 100%;
}

/*
i:hover {
    background-color: #586166;
}
*/
