.message1 {
    font-size: 0.75em;
    max-width: 20em;
}

.message2 {
    font-size: 0.75em;
    max-width: 20em;
}

.dp {
    height: 4em;
    width:  4em;
}

.coming-soon {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
}