.color1 {
    background-color: #272C30;
}

.color2 {
    background-color: #586166;
}

.color3 {
    background-color: #00AEDB;
}

.text-color1 {
    color: #586166;
}

.text-color2 {
    color: #00AEDB;
}

.text-grey {
    color: grey;
}

.grey-border {
    border-color: grey;
}

.text-main {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.text-secondary {
    color: grey;
    font-family: 'Raleway', sans-serif;
}
